* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #f4d467; */
  background-color: black;
  color: yellow;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*! Player Card/Container Styling  */
.card-container {
  /* background-image: url("https://i.pinimg.com/originals/06/8d/65/068d6509a3c82569c5e025a0ee7bf2e8.png"); */
  min-width: 300px;
  background-color: yellow;
}
.player-card {
  height: 400px;
  max-width: 280px;
  min-width: 230px;
  background-color: black;
}
.player-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.6);
}
.player-logo {
  transition: transform 0.5s;
  height: 350px;
}
.player-logo:hover {
}

.player-card:hover .player-logo {
  box-shadow: 3px 3px 20px 5px rgba(250, 255, 209, 0.6);
  transform: scale(0.85);
  border-radius: 1rem;
}
h1{
  color: yellow;
}